
body{
    background-color: grey;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Courier New', Courier, monospace;
   text-decoration: none;
   list-style-type: none;
}

header {
    background-color:azure;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100 px;
    padding: 0px 30px 0px 30px;
}

.logo{
 height: 40%;
}
.navbar, 
.navbar-list
{
   display: flex;
   align-items: center;
   justify-content:center ;
}

.navbar-list{
    gap: 30px; 
}

.navbar-list a{
    color: black;
    font-size: 14px ;
    font-weight: 700;
}

.infoprincipal{
    display: flex;
    max-width: 100%;
    height: 80vh;
    background-image: url(birra\ y\ montaña.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.infoprincipal .info1{
    max-width: 1000px;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    
}

.infoprincipal .info1 .info2{

    flex-basis: 50%;
    color: #fff;
    text-align: left;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.infoprincipal .info1 .info2 h1{
    font-family:'Times New Roman', Times, serif; 
    color:black;
    font-size: 100px;
    line-height: 0.9;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 300;
    border-radius: 2%;
    box-sizing: border-box;

}
.infoprincipal .info1 .info2 p{
    font-family: Impact; 
    color:black; 
    box-sizing: border-box;
}

.infoprincipal .info1 .info2 .botones{

    display: flex;
    margin-top: 30px;
    flex-flow: ;
}

.infoprincipal .info1 .info2 .botones .bt1{

    flex-basis:30%; 
    border: solid 2px; 
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color:yellow; 
}

.infoprincipal .info1 .info2 .botones .bt2{

    flex-basis:30%; 
    border: solid 2px; 
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color:yellow; 
}

.contenedor{
    width:100%;
    display:flex;
    max-width: 1100px;
    background-color:gray;
}

.cartas{
    width:100%;
    margin:30px;    
    border-radius: 6px;
    overflow: hidden;
    background: #fff ;
    box-shadow: 0px 1px 10px rgba(0,0,0,2)
}

.cartas .contenido{
padding: 15px; 
text-align: center;
line-height: 1.5;
color: #6a6a6a;
}
.cartas .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: black;
} 

.cartas .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
    margin-top: 10px;
    color: #2f2f2f;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
}

